html
{
	background-image: url(background.jpg);
	background-attachment:unset;
	
}

body
{
	background-color: darkgray;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	
	
}

#logo
{
	background-color: darkcyan;
	font: bolder;
	color: white;
	text-align: left;
	margin-left: auto;
	padding: 10px;
}

#nav
{
	
	text-align: center;
	font-weight: bold;
	background-color: darkgray;
	
	
}

#button
{
	border-style: outset;
	color: black;
	
}

#contact
{
	text-align: left;
	font: message-box;
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

#logoKontakt
{
	font: message-box;
	text-align: center;
}

#container
{
	font: message-box;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

#content
{
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	
}

#corpright
{
	background-color: darkcyan;
	font: message-box;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	color: white;
	font: bolder;
	
	text-align: center;
	

}

#hr
{
	background-color: gray;
}


a:visited
{
	color:black;
}

#nav
{
	text-align: center;
	font-weight: bold;
	background-color: darkcyan;
}

a:hover
{
	color:darkcyan;
	
	
}
