html
{
	background-image: url(images/background.jpg);
	background-attachment:unset;
	
}

body
{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	background-color: darkgray;
	border-style: outset;

	
}

#logo
{
	background-color: darkcyan;
	font: bolder;
	color: white;
	text-align: left;
	margin-left: 0px;
	padding: 10px;
}

#zegarek
{
	
	text-align: right;
	font-weight: bolder;
	padding: 1px;
	float: left;

}

#data
{
	text-align: right;
	font-weight: bolder;
	padding: 1px;
	float: right;
	
}

#nav
{
	
	text-align: center;
	font-weight: bold;
	background-color: darkcyan;
	
	
}

#button
{
	border-style: outset;
	
}

#contact
{
	text-align: left;
	font: message-box;
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

#logoKontakt
{
	font: message-box;
	text-align: center;
}

#container
{
	font: message-box;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

#content
{
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	
}

#corpright
{
	background-color: darkcyan;
	font: message-box;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	color: white;
	font: bolder;
	
	text-align: center;
	

}

#hr
{
	background-color: gray;
}


a:visited
{
	color:black;
}



a:hover
{
	color:darkcyan;
	
	
}

nav
{
	text-align: center;
	background-color: darkcyan;
	
}

a:link {
	color: black;;
  }

  a:visited {
	color:black;
  }
  

  a:hover {
	color: darkcyan;
  }
  
 
  a:active {
	color: lightcyan;
  }

  .test-block
  {
	width: 200px;
	border: 2px solid rgba(71, 236, 30, 1);
	background: rgba(71, 236, 30, 0.7);
	text-align: center;
	color: #000;
	padding: 20px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }